
.checkbox {
   @apply mr-2 h-5 w-5 bg-white shadow-gray border-1 border-gray-200 rounded outline-none cursor-pointer appearance-none flex items-center justify-center;

   &:hover {
      @apply bg-gradient-to-b from-gray-0 to-gray-100;
   }

   &:checked {
      @apply bg-gradient-to-b from-blue-400 to-blue-500 border-2 border-blue-100 shadow-none animate-small-ping-blue;
   }

   &::before {
      content: url("../components/Checkbox/assets/check.svg");
      transform: translateY(3px) rotate(-5deg);
      visibility: hidden;
   }

   &:checked::before {
      visibility: visible;
   }
   
   &--wrapper {
      @apply inline-flex items-center;
   }

   &--label {
      @apply text-gray-900 cursor-pointer select-none;
   }
}
