@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- ACCORDION ---------- */
.accordion {
   @apply bg-white border-1 border-gray-200 shadow-gray rounded overflow-hidden;
}

.accordion-panel-header {
   @apply p-4 text-gray-900 font-medium border-gray-200 cursor-pointer select-none flex items-center transition duration-200 ease-in-out;
}

.accordion-panel-content {
   @apply p-4 bg-gray-0;
}


/* ---------- ALERT ---------- */
.alert {
   @apply p-4 flex items-center;
}

.alertcontent {
   @apply flex flex-col;
}

.alertaction {
   @apply flex flex-grow flex-row-reverse;
}

.alertheading--blue {
   @apply font-semibold text-blue-600;
}
.alertmessage--blue {
   @apply text-sm text-blue-600;
}

.alertheading--red {
   @apply font-semibold text-red-600;
}
.alertmessage--red {
   @apply text-sm text-red-600;
}

.alertheading--yellow {
   @apply font-semibold text-yellow-600;
}
.alertmessage--yellow {
   @apply text-sm text-yellow-600;
}

.alertheading--green {
   @apply font-semibold text-green-600;
}
.alertmessage--green {
   @apply text-sm text-green-600;
}

.alertheading--purple {
   @apply font-semibold text-purple-600;
}
.alertmessage--purple {
   @apply text-sm text-purple-600;
}

.alertheading--indigo {
   @apply font-semibold text-indigo-600;
}
.alertmessage--indigo {
   @apply text-sm text-indigo-600;
}

.alertheading--gray {
   @apply font-semibold text-gray-600;
}
.alertmessage--gray {
   @apply text-sm text-gray-600;
}


/* ---------- BASE AVATAR ---------- */
.avatar {
   @apply rounded-full flex items-center justify-center;
}

.avatarlabel {
   @apply text-white font-semibold text-xl;
}

/* ---------- BASIC AVATAR ---------- */
.avatar--blue {
   @apply bg-gradient-to-tr from-blue-400 to-blue-300 border-1 border-blue-400 shadow-blue;
}

.avatar--red {
   @apply bg-gradient-to-tr from-red-400 to-red-300 border-1 border-red-400 shadow-red;
}

.avatar--yellow {
   @apply bg-gradient-to-tr from-yellow-400 to-yellow-300 border-1 border-yellow-400 shadow-yellow;
}

.avatar--green {
   @apply bg-gradient-to-tr from-green-400 to-green-300 border-1 border-green-400 shadow-green;
}

.avatar--purple {
   @apply bg-gradient-to-tr from-purple-400 to-purple-300 border-1 border-purple-400 shadow-purple;
}

.avatar--indigo {
   @apply bg-gradient-to-tr from-indigo-400 to-indigo-300 border-1 border-indigo-400 shadow-indigo;
}

.avatar--gray {
   @apply bg-gradient-to-tr from-gray-600 to-gray-500 border-1 border-gray-400 shadow-gray;
}

/* ---------- IMAGE AVATAR ---------- */
.avatar--image {
   @apply h-full w-full rounded-full shadow-gray;
}


/* ---------- BASE BADGE ---------- */
.badge {
   @apply text-white text-sm font-semibold tracking-wide px-2 py-1 rounded select-none;
}

.badge.badge--small {
   @apply px-1 py-0 font-normal;
}

.badge.badge--rounded {
   @apply rounded-full;
}

/* ---------- DEFAULT BADGE ---------- */
.badge--default--blue {
   @apply text-blue-900 bg-blue-200;
}

.badge--default--red {
   @apply text-red-900 bg-red-200;
}

.badge--default--green {
   @apply text-green-900 bg-green-200;
}

.badge--default--yellow {
   @apply text-yellow-900 bg-yellow-200;
}

.badge--default--purple {
   @apply text-purple-900 bg-purple-200;
}

.badge--default--indigo {
   @apply text-indigo-900 bg-indigo-200;
}

.badge--default--gray {
   @apply text-gray-900 bg-gray-200;
}

/* ---------- SOLID BADGE ---------- */
.badge--solid--blue {
   @apply border-1 border-blue-600 bg-blue-500;
}

.badge--solid--red {
   @apply border-1 border-red-600 bg-red-500;
}

.badge--solid--green {
   @apply border-1 border-green-600 bg-green-500;
}

.badge--solid--yellow {
   @apply border-1 border-yellow-600 bg-yellow-500;
}

.badge--solid--purple {
   @apply border-1 border-purple-600 bg-purple-500;
}

.badge--solid--indigo {
   @apply border-1 border-indigo-600 bg-indigo-500;
}

.badge--solid--gray {
   @apply text-gray-900 border-1 border-gray-600 bg-gray-500;
}


/* ---------- BASE BOX ---------- */
.box {
   @apply bg-white border-1;
}

/* ---------- DEFAULT BOXES ---------- */
.box--default--white {
   @apply border-gray-200 shadow-gray;
}

.box--default--blue {
   @apply text-white bg-gradient-to-b from-blue-400 to-blue-500 border-blue-500;
}

.box--default--red {
   @apply text-white bg-gradient-to-b from-red-400 to-red-500 border-red-500;
}

.box--default--green {
   @apply text-white bg-gradient-to-b from-green-400 to-green-500 border-green-500;
}

.box--default--yellow {
   @apply text-white bg-gradient-to-b from-yellow-400 to-yellow-500 border-yellow-500;
}

.box--default--purple {
   @apply text-white bg-gradient-to-b from-purple-400 to-purple-500 border-purple-500;
}

.box--default--indigo {
   @apply text-white bg-gradient-to-b from-indigo-400 to-indigo-500 border-indigo-500;
}

.box--default--gray {
   @apply text-white bg-gradient-to-b from-gray-400 to-gray-500;
}

/* ---------- FRAMES ---------- */
.box--frame--white {
   @apply border-gray-200 shadow-none;
}

.box--frame--blue {
   @apply bg-blue-0 border-blue-200 shadow-none;
}

.box--frame--red {
   @apply bg-red-0 border-red-200 shadow-none;
}

.box--frame--green {
   @apply bg-green-0 border-green-200 shadow-none;
}

.box--frame--yellow {
   @apply bg-yellow-0 border-yellow-200 shadow-none;
}

.box--frame--purple {
   @apply bg-purple-0 border-purple-200 shadow-none;
}

.box--frame--indigo {
   @apply bg-indigo-0 border-indigo-200 shadow-none;
}

.box--frame--gray {
   @apply bg-gray-0 border-gray-200 shadow-none;
}

/* ---------- WELLS ---------- */
.box--well--white, .box--well--gray {
   @apply border-gray-200 bg-gray-0 shadow-inner-gray;
}

.box--well--blue {
   @apply border-blue-200 bg-blue-0 shadow-inner-blue;
}

.box--well--red {
   @apply border-red-200 bg-red-0 shadow-inner-red;
}

.box--well--green {
   @apply border-green-200 bg-green-0 shadow-inner-green;
}

.box--well--yellow {
   @apply border-yellow-200 bg-yellow-0 shadow-inner-yellow;
}

.box--well--purple {
   @apply border-purple-200 bg-purple-0 shadow-inner-purple;
}

.box--well--indigo {
   @apply border-indigo-200 bg-indigo-0 shadow-inner-indigo;
}


/* ---------- BASE BUTTON ---------- */
.button {
   @apply h-10 px-4 font-sans text-sm rounded flex items-center justify-center transition duration-200 ease-in-out;
}

/* ---------- SMALL BUTTON ---------- */
.button.button--small {
   @apply h-8;
}

/* ---------- DISABLED BUTTONS ---------- */
.button.button--primary--disabled {
   @apply select-none text-gray-500 bg-gray-0 border-1 border-gray-200;
}

.button.button--secondary--disabled {
   @apply select-none text-gray-500 bg-gray-0;
}

/* ---------- PRIMARY BUTTONS ---------- */
.button--primary--default {
   @apply text-gray-900 bg-white border-1 border-gray-200 shadow-gray;
}
.button--primary--default:focus {
   @apply outline-none animate-btn-ping-blue;
}
.button.button--primary--default:active {
   @apply bg-gray-100 shadow-none;
}
.button--primary--default:hover {
   @apply bg-gray-0;
}

.button--primary--white {
   @apply text-gray-900 bg-white;
}
.button--primary--white:focus {
   @apply outline-none animate-btn-ping-gray;
}
.button.button--primary--white:active {
   @apply bg-gray-100;
}
.button--primary--white:hover {
   @apply bg-gray-0;
}

.button--primary--blue {
   @apply text-white bg-blue-500 border-1 border-blue-600 shadow-blue;
}
.button--primary--blue:focus {
   @apply outline-none animate-btn-ping-blue;
}
.button.button--primary--blue:active {
   @apply bg-blue-600 shadow-none;
}
.button--primary--blue:hover {
   @apply bg-blue-400;
}

.button--primary--red {
   @apply text-white bg-red-500 border-1 border-red-600 shadow-red;
}
.button--primary--red:focus {
   @apply outline-none animate-btn-ping-red;
}
.button.button--primary--red:active {
   @apply bg-red-600 shadow-none;
}
.button--primary--red:hover {
   @apply bg-red-400;
}

.button--primary--green {
   @apply text-white bg-green-500 border-1 border-green-600 shadow-green;
}
.button--primary--green:focus {
   @apply outline-none animate-btn-ping-green;
}
.button.button--primary--green:active {
   @apply bg-green-600 shadow-none;
}
.button--primary--green:hover {
   @apply bg-green-400;
}

.button--primary--yellow {
   @apply text-white bg-yellow-500 border-1 border-yellow-600 shadow-yellow;
}
.button--primary--yellow:focus {
   @apply outline-none animate-btn-ping-yellow;
}
.button.button--primary--yellow:active {
   @apply bg-yellow-600 shadow-none;
}
.button--primary--yellow:hover {
   @apply bg-yellow-400;
}

.button--primary--purple {
   @apply text-white bg-purple-500 border-1 border-purple-600 shadow-purple;
}
.button--primary--purple:focus {
   @apply outline-none animate-btn-ping-purple;
}
.button.button--primary--purple:active {
   @apply bg-purple-600 shadow-none;
}
.button--primary--purple:hover {
   @apply bg-purple-400;
}

.button--primary--indigo {
   @apply text-white bg-indigo-500 border-1 border-indigo-600 shadow-indigo;
}
.button--primary--indigo:focus {
   @apply outline-none animate-btn-ping-indigo;
}
.button.button--primary--indigo:active {
   @apply bg-indigo-600 shadow-none;
}
.button--primary--indigo:hover {
   @apply bg-indigo-400;
}

/* ---------- SECONDARY BUTTONS ---------- */
.button--secondary--default {
   @apply text-gray-900 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--default:focus {
   @apply border-gray-300 outline-none animate-btn-ping-gray;
}
.button--secondary--default:hover {
   @apply bg-gray-100;
}

.button--secondary--white {
   @apply text-white;
   background-color: transparent;
}
.button--secondary--white:focus {
   @apply outline-none animate-btn-ping-gray;
}
.button--secondary--white:hover {
   @apply text-gray-900 bg-gray-0;
}

.button--secondary--blue {
   @apply text-blue-500 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--blue:focus {
   @apply border-blue-100 outline-none animate-btn-ping-blue;
}
.button--secondary--blue:hover {
   @apply bg-blue-0;
}

.button--secondary--red {
   @apply text-red-500 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--red:focus {
   @apply border-red-100 outline-none animate-btn-ping-red;
}
.button--secondary--red:hover {
   @apply bg-red-0;
}

.button--secondary--green {
   @apply text-green-500 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--green:focus {
   @apply border-green-100 outline-none animate-btn-ping-green;
}
.button--secondary--green:hover {
   @apply bg-green-0;
}

.button--secondary--yellow {
   @apply text-gray-900 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--yellow:focus {
   @apply border-yellow-200 outline-none animate-btn-ping-yellow;
}
.button--secondary--yellow:hover {
   @apply bg-yellow-100;
}

.button--secondary--purple {
   @apply text-purple-500 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--purple:focus {
   @apply border-purple-100 outline-none animate-btn-ping-purple;
}
.button--secondary--purple:hover {
   @apply bg-purple-0;
}

.button--secondary--indigo {
   @apply text-indigo-500 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--indigo:focus {
   @apply border-indigo-100 outline-none animate-btn-ping-indigo;
}
.button--secondary--indigo:hover {
   @apply bg-indigo-0;
}

.button--tertiary--blue {
   @apply text-blue-500 bg-white border-1 border-gray-200 shadow-gray;
}
.button--tertiary--blue:focus {
   @apply outline-none animate-btn-ping-blue;
}
.button.button--tertiary--blue:active {
   @apply bg-blue-0 shadow-none;
}
.button--tertiary--blue:hover {
   @apply bg-gray-0;
}


/* ---------- CHECKBOXES ---------- */
.checkboxwrapper {
   @apply flex items-center;
}

.checkbox {
   @apply mr-2 h-5 w-5 bg-white shadow-gray border-1 border-gray-200 rounded outline-none cursor-pointer appearance-none transition duration-200 ease-in-out flex items-center justify-center;
}
.checkbox:hover {
   @apply bg-gray-100;
}
.checkbox:checked {
   @apply bg-blue-500 border-2 border-blue-200 shadow-none animate-radio-ping-blue;
}
.checkbox::before {
   content: url("components/Checkbox/assets/check.svg");
   transform: translateY(3px) rotate(-5deg);
   visibility: hidden;
}
.checkbox:checked::before {
   visibility: visible;
}

.checkboxlabel {
   @apply text-gray-900 cursor-pointer select-none;
}


/* ---------- LIST ITEMS ---------- */
.icon--default--white {
   @apply text-white;
}

.icon--default--gray {
   @apply text-gray-900;
}

.icon--default--blue {
   @apply text-blue-500;
}

.icon--default--red {
   @apply text-red-500;
}

.icon--default--green {
   @apply text-green-500;
}

.icon--default--yellow {
   @apply text-yellow-500;
}

.icon--default--purple {
   @apply text-purple-500;
}

.icon--default--indigo {
   @apply text-indigo-500;
}

.icon--shaded--gray {
   @apply p-1 text-gray-900 bg-gray-100;
}

.icon--shaded--blue {
   @apply p-1 text-blue-500 bg-blue-0;
}

.icon--shaded--red {
   @apply p-1 text-red-500 bg-red-0;
}

.icon--shaded--green {
   @apply p-1 text-green-500 bg-green-0;
}

.icon--shaded--yellow {
   @apply p-1 text-yellow-500 bg-yellow-0;
}

.icon--shaded--purple {
   @apply p-1 text-purple-500 bg-purple-0;
}

.icon--shaded--indigo {
   @apply p-1 text-indigo-500 bg-indigo-0;
}

.icon--clickable {
   @apply outline-none cursor-pointer inline-block;
}

.icon--clickable--gray {
   @apply p-1 text-gray-900 bg-gray-100 transition duration-200 ease-in-out;
}
.icon--clickable--gray:hover {
   @apply bg-gray-200;
}
.icon--clickable--gray:active {
   @apply bg-gray-300;
}

.icon--clickable--blue {
   @apply p-1 text-blue-500 bg-blue-0 transition duration-200 ease-in-out;
}
.icon--clickable--blue:hover {
   @apply text-blue-600 bg-blue-100;
}
.icon--clickable--blue:active {
   @apply text-blue-700 bg-blue-200;
}

.icon--clickable--red {
   @apply p-1 text-red-500 bg-red-0 transition duration-200 ease-in-out;
}
.icon--clickable--red:hover {
   @apply text-red-600 bg-red-100;
}
.icon--clickable--red:active {
   @apply text-red-700 bg-red-200;
}

.icon--clickable--green {
   @apply p-1 text-green-500 bg-green-0 transition duration-200 ease-in-out;
}
.icon--clickable--green:hover {
   @apply text-green-600 bg-green-100;
}
.icon--clickable--green:active {
   @apply text-green-700 bg-green-200;
}

.icon--clickable--yellow {
   @apply p-1 text-yellow-500 bg-yellow-0 transition duration-200 ease-in-out;
}
.icon--clickable--yellow:hover {
   @apply text-yellow-600 bg-yellow-100;
}
.icon--clickable--yellow:active {
   @apply text-yellow-700 bg-yellow-200;
}

.icon--clickable--purple {
   @apply p-1 text-purple-500 bg-purple-0 transition duration-200 ease-in-out;
}
.icon--clickable--purple:hover {
   @apply text-purple-600 bg-purple-100;
}
.icon--clickable--purple:active {
   @apply text-purple-700 bg-purple-200;
}

.icon--clickable--indigo {
   @apply p-1 text-indigo-500 bg-indigo-0 transition duration-200 ease-in-out;
}
.icon--clickable--indigo:hover {
   @apply text-indigo-600 bg-indigo-100;
}
.icon--clickable--indigo:active {
   @apply text-indigo-700 bg-indigo-200;
}



/* ---------- LIST ITEMS ---------- */
.listitem {
   @apply p-4 flex items-center justify-between transition duration-200 ease-in-out border-b-1 border-gray-200;
}
.listitem--last {
   @apply p-4 flex items-center justify-between transition duration-200 ease-in-out;
}
.listitem:hover, .listitem--last:hover {
   @apply bg-gray-0;
}


/* ---------- RADIO BUTTONS ---------- */
.radiowrapper {
   @apply mr-4 flex items-center;
}

.radio {
   @apply mr-2 h-5 w-5 bg-white shadow-gray border-1 border-gray-200 rounded-full outline-none appearance-none cursor-pointer transition duration-200 ease-in-out flex items-center justify-center;
}
.radio:hover {
   @apply bg-gray-100;
}
.radio:checked {
   @apply bg-blue-500 border-2 border-blue-200 shadow-none animate-radio-ping-blue;
}

.radiolabel {
   @apply text-gray-900 cursor-pointer select-none;
}


/* ---------- SWITCH ---------- */
.switch {
   @apply w-10 h-5 mr-2 bg-gray-100 border-1 border-gray-200 shadow-gray rounded-full flex items-center cursor-pointer;
}

.switchbutton {
   @apply h-5 w-5 transition duration-150 ease-in-out rounded-full;
}

.switchlabel {
   @apply text-gray-900 select-none;
}

.-translate-x-px {
   transform: translateX(-1px);
}


/* ---------- TABS ---------- */
.tabswrapper {
   @apply flex border-b-1 border-gray-200;
}

.tablabel {
   @apply mb-1 flex items-center text-sm;
}

.tab {
   @apply mr-6 cursor-pointer select-none transition duration-150 ease-in-out;
}

.tab--active--blue {
   @apply  text-blue-500 ;
}

.tab--active--red {
   @apply text-red-500;
}

.tab--active--green {
   @apply text-green-500;
}

.tab--active--yellow {
   @apply text-yellow-500;
}

.tab--active--purple {
   @apply text-purple-500;
}

.tab--active--indigo {
   @apply text-indigo-500;
}

.tab--active--gray {
   @apply text-gray-900;
}

.tab--inactive--blue:hover {
   @apply text-blue-500;
}

.tab--inactive--red:hover {
   @apply text-red-500;
}

.tab--inactive--green:hover {
   @apply text-green-500;
}

.tab--inactive--yellow:hover {
   @apply text-yellow-500;
}

.tab--inactive--purple:hover {
   @apply text-purple-500;
}

.tab--inactive--indigo:hover {
   @apply text-indigo-500;
}

.tab--inactive--gray:hover {
   @apply text-gray-900;
}

.tabmarker {
   @apply h-0.5 rounded animate-radio-ping-blue;
}

.tabmarker--blue {
   @apply bg-blue-500;
}

.tabmarker--red {
   @apply bg-red-500;
}

.tabmarker--green {
   @apply bg-green-500;
}

.tabmarker--yellow {
   @apply bg-yellow-500;
}

.tabmarker--purple {
   @apply bg-purple-500;
}

.tabmarker--indigo {
   @apply bg-indigo-500;
}

.tabmarker--gray {
   @apply bg-gray-900;
}


/* ---------- TEXT FIELD & SELECT COMPONENTS ---------- */
.textfield,
.field {
   @apply h-10 px-2 font-sans text-sm text-gray-900 bg-white border-1 border-gray-200 shadow-gray rounded flex items-center transition duration-200 ease-in-out;
}

.textfield--with-elements {
   @apply w-full;
}

.select {
   @apply appearance-none h-10 w-full px-2 font-sans text-sm bg-white border-1 border-gray-200 shadow-gray rounded flex items-center transition duration-200 ease-in-out;
   background-image: url("components/Select/assets/chevron-down.svg");
   background-origin: content-box;
   background-position-y: center;
   background-position-x: right;
   background-repeat: no-repeat;
   background-size: 1rem;
}

.select--with-elements {
   @apply appearance-none w-full;
   background-image: url("components/Select/assets/chevron-down.svg");
   background-origin: content-box;
   background-position-y: center;
   background-position-x: right;
   background-repeat: no-repeat;
   background-size: 1rem;
}

.textfield:focus,
.textfield--with-elements:focus,
.select:focus,
.select--with-elements:focus {
   @apply outline-none;
}

.textfield.textfield--default:focus,
.select.select--default:focus {
   @apply shadow-outline-blue border-blue-500;
}

.textfield.textfield--success:focus,
.select.select--success:focus {
   @apply shadow-outline-green border-green-500;
}

.textfield.textfield--error:focus,
.select.select--error:focus {
   @apply shadow-outline-red border-red-500;
}

.field--focused {
   @apply shadow-outline-blue border-blue-500;
}

.field--focused--error {
   @apply shadow-outline-red border-red-500;
}

.fieldelement--left {
   @apply mr-2 flex items-center justify-center;
}

.fieldelement--right {
   @apply ml-2 flex items-center justify-center;
}

.fieldmessage {
   @apply ml-1 mt-1 text-xs text-red-500;
}
