@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- BASE BUTTON ---------- */
.button {
   @apply h-10 px-4 font-sans text-sm rounded flex items-center justify-center transition duration-200 ease-in-out;
}

/* ---------- SMALL BUTTON ---------- */
.button.button--primary--small {
   @apply h-8;
}

/* ---------- DISABLED BUTTONS ---------- */
.button.button--primary--disabled {
   @apply text-gray-500 bg-gray-0 border-1 border-gray-500;
}

.button.button--secondary--disabled {
   @apply text-gray-500 bg-gray-0;
}

/* ---------- PRIMARY BUTTONS ---------- */
.button--primary--default {
   @apply text-gray-900 bg-white border-1 border-gray-500 shadow-gray;
}
.button--primary--default:focus {
   @apply outline-none animate-btn-ping-gray;
}
.button.button--primary--default:active {
   @apply bg-gray-100 shadow-none;
}
.button--primary--default:hover {
   @apply bg-gray-0;
}

.button--primary--blue {
   @apply text-white bg-blue-500 border-1 border-blue-600 shadow-blue;
}
.button--primary--blue:focus {
   @apply outline-none animate-btn-ping-blue;
}
.button.button--primary--blue:active {
   @apply bg-blue-600 shadow-none;
}
.button--primary--blue:hover {
   @apply bg-blue-400;
}

.button--primary--red {
   @apply text-white bg-red-500 border-1 border-red-600 shadow-red;
}
.button--primary--red:focus {
   @apply outline-none animate-btn-ping-red;
}
.button.button--primary--red:active {
   @apply bg-red-600 shadow-none;
}
.button--primary--red:hover {
   @apply bg-red-400;
}

.button--primary--green {
   @apply text-white bg-green-500 border-1 border-green-600 shadow-green;
}
.button--primary--green:focus {
   @apply outline-none animate-btn-ping-green;
}
.button.button--primary--green:active {
   @apply bg-green-600 shadow-none;
}
.button--primary--green:hover {
   @apply bg-green-400;
}

.button--primary--yellow {
   @apply text-gray-900 bg-yellow-500 border-1 border-yellow-500 shadow-yellow;
}
.button--primary--yellow:focus {
   @apply outline-none animate-btn-ping-yellow;
}
.button.button--primary--yellow:active {
   @apply bg-yellow-600 shadow-none;
}
.button--primary--yellow:hover {
   @apply bg-yellow-400;
}

.button--primary--purple {
   @apply text-white bg-purple-500 border-1 border-purple-600 shadow-purple;
}
.button--primary--purple:focus {
   @apply outline-none animate-btn-ping-purple;
}
.button.button--primary--purple:active {
   @apply bg-purple-600 shadow-none;
}
.button--primary--purple:hover {
   @apply bg-purple-400;
}

.button--primary--indigo {
   @apply text-white bg-indigo-500 border-1 border-indigo-600 shadow-indigo;
}
.button--primary--indigo:focus {
   @apply outline-none animate-btn-ping-indigo;
}
.button.button--primary--indigo:active {
   @apply bg-indigo-600 shadow-none;
}
.button--primary--indigo:hover {
   @apply bg-indigo-400;
}

/* ---------- SECONDARY BUTTONS ---------- */
.button--secondary--default {
   @apply text-gray-900 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--default:focus {
   @apply border-gray-300 outline-none animate-btn-ping-gray;
}
.button--secondary--default:hover {
   @apply bg-gray-100;
}

.button--secondary--blue {
   @apply text-blue-500 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--blue:focus {
   @apply border-blue-100 outline-none animate-btn-ping-blue;
}
.button--secondary--blue:hover {
   @apply bg-blue-0;
}

.button--secondary--red {
   @apply text-red-500 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--red:focus {
   @apply border-red-100 outline-none animate-btn-ping-red;
}
.button--secondary--red:hover {
   @apply bg-red-0;
}

.button--secondary--green {
   @apply text-green-500 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--green:focus {
   @apply border-green-100 outline-none animate-btn-ping-green;
}
.button--secondary--green:hover {
   @apply bg-green-0;
}

.button--secondary--yellow {
   @apply text-gray-900 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--yellow:focus {
   @apply border-yellow-200 outline-none animate-btn-ping-yellow;
}
.button--secondary--yellow:hover {
   @apply bg-yellow-100;
}

.button--secondary--purple {
   @apply text-purple-500 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--purple:focus {
   @apply border-purple-100 outline-none animate-btn-ping-purple;
}
.button--secondary--purple:hover {
   @apply bg-purple-0;
}

.button--secondary--indigo {
   @apply text-indigo-500 border-1;
   background-color: transparent;
   border-color: transparent;
}
.button--secondary--indigo:focus {
   @apply border-indigo-100 outline-none animate-btn-ping-indigo;
}
.button--secondary--indigo:hover {
   @apply bg-indigo-0;
}

.button--tertiary--blue {
   @apply text-blue-500 bg-white border-1 border-gray-500 shadow-gray;
}
.button--tertiary--blue:focus {
   @apply outline-none animate-btn-ping-blue;
}
.button.button--tertiary--blue:active {
   @apply bg-blue-0 shadow-none;
}
.button--tertiary--blue:hover {
   @apply bg-gray-0;
}


/* ---------- TEXT FIELDS ---------- */
.textfield {
   @apply h-10 px-2 font-sans text-sm text-gray-900 border-1 border-gray-500 shadow-gray rounded flex items-center transition duration-200 ease-in-out;
}
.textfield:focus {
   @apply outline-none;
}

.textfield.textfield--default:focus {
   @apply shadow-outline-blue border-blue-500;
}

.textfield--success:focus {
   @apply shadow-outline-green border-green-500;
}

.textfield--error:focus {
   @apply shadow-outline-red border-red-500;
}


/* ---------- RADIO BUTTONS ---------- */
.radio {
   @apply mr-2 h-5 w-5 shadow-gray border-1 border-gray-500 rounded-full outline-none appearance-none cursor-pointer transition duration-200 flex items-center justify-center;
}
.radio:hover {
   @apply bg-gray-100;
}
.radio:checked {
   @apply bg-blue-500 border-2 border-blue-200 shadow-none animate-radio-ping-blue;
}


/* ---------- CHECKBOXES ---------- */
.checkbox {
   @apply mr-2 h-5 w-5 shadow-gray border-1 border-gray-500 rounded outline-none cursor-pointer appearance-none transition duration-200 flex items-center justify-center;
}
.checkbox:hover {
   @apply bg-gray-100;
}
.checkbox:checked {
   @apply bg-blue-500 border-2 border-blue-200 shadow-none animate-radio-ping-blue;
}
.checkbox:checked::before {
   content: url("check.svg");
   transform: translateY(3px) rotate(-5deg);
}